body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
header{
    margin-right: 20%;
    text-align: right;
}
footer{
    text-align: center;
}
footer a{
    color: #000000;
    text-decoration: none;
    font-size: 0.8em;
    
}
.container{
    width: 65vh;
    position: sticky;
    margin: 15vh auto;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
    grid-gap: 10px;
}
.sq-img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.p30{
    grid-column: x0 / x2;
    grid-row: y1 / y3;
}
.logo-bot{
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.logo-txt{
    display: none;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 10;
    font-size: 1.2em;
    color: #000
}
.logo-bot a:hover img{
    opacity: 0.1;
}
.logo-bot a:hover .logo-txt{
    display: block;
}
/*CONTACTO*/
#box{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.menu-general{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 20px;
}
.menu-general h1{
    width: 100%;
}
.menu-general a{
    color: black;
}
.nav-panel{
    display: flex;
    margin-right: 2%;
}
.nav-items{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20vh;
}
.nav-items ul{
    margin: 0;
    padding: 0;
}
.nav-items li{
    text-align: right;
    list-style: none;
    margin-top: 1em;
    margin-left: 0%;
}
.nav-items li:hover{
   font-size: 1.2em; 
}
.cont-grid{
    display: grid;
    grid-template-columns: [x0] 20vh [x1] 20vh [x2] 20vh [x3];
    grid-template-rows: [y0] 20vh [y1] 20vh [y2] 20vh [y3];
    grid-gap: 10px;
}
.cont-grid .sq-img img{
    width: inherit;
}
.cont-title{
    background-color: lightgray;
    grid-column: x2 / x3;
    grid-row: y0 / y1;
    position: relative;
}
.cont-title h1{
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    text-decoration: none;
    font-size: 1.5em;
    color: black
}
.cont-info{
    text-align: justify;
    color: black;
    grid-column: x2 / x3;
    grid-row: y1 / y2;  
}
.cont-info p{
    margin-top: 0;
    margin-bottom: 25px;
}
.cont-grid .o{
    grid-column: x2 / x3;
    grid-row: y2 / y3;   
}
.logo-github{
    grid-column: x2 / x3;
    grid-row: y2 / y3;   
}
.corner img{
    height: 25vh;
}
.logo-github a{
    width: 20vh;
}
/*PROYECTOS*/
.proy1{
    background-color: blue;
    grid-column: x0 / x1;
    grid-row: y0 / y2;   
}
.txt1{
    grid-column: x1 / x2;
    grid-row: y0 / y1;   
}
.proy2{
    background-color: red;
    grid-column: x2 / x3;
    grid-row: y1 / y2;   
}
.txt2{
    text-align: right;
    grid-column: x1 / x2;
    grid-row: y1 / y2;   
}
.proy3{
    background-color: green;
    grid-column: x1 / x3;
    grid-row: y2 / y3;   
}
.txt3{
    text-align: right;
    grid-column: x0 / x1;
    grid-row: y2 / y3;   
}
.content-panel h3{
    margin: 0;
}
.proy1 img, .proy2 img, .proy3 img{
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.9);
}
.proy1 a:hover img, .proy2 a:hover img, .proy3 a:hover img{
    filter:grayscale(0);
}
/*DISEÑOS*/
.dis1{
    grid-column: x0 / x1;
    grid-row: y0 / y1;   
}
.txt-d1{
    grid-column: x1 / x2;
    grid-row: y0 / y1;   
}
.dis2{
    grid-column: x1 / x2;
    grid-row: y1 / y2;   
}
.txt-d2{
    text-align: right;
    grid-column: x0 / x1;
    grid-row: y1 / y2;   
}
.dis3{
    grid-column: x0 / x1;
    grid-row: y2 / y3;   
}
.txt-d3{
    grid-column: x1 / x2;
    grid-row: y2 / y3;   
}
.content-panel h3{
    margin: 0;
}
.dis1 img, .dis2 img, .dis3 img{
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.9);
}
.dis1 a:hover img, .dis2 a:hover img, .dis3 a:hover img{
    filter:grayscale(0);
}