body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
footer{
    position: absolute;
    bottom: 0;
    left: 45%;
    text-align: center;
}
footer a{
    color: #000000;
    font-size: 1em;
    
}
/*INDEX*/
.container{
    width: 65vh;
    position: sticky;
    margin: 15vh auto;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
    grid-gap: 10px;
}
.sq-img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.p30{
    grid-column: x0 / x2;
    grid-row: y1 / y3;
}
.logo-bot{
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.logo-txt{
    display: none;
    position: absolute;
    bottom: 2%;
    left: 2%;
    z-index: 10;
    color: #000;
    font-size: large;    
}
@media only screen and (max-width: 767px){
    .logo-txt{
        font-size: small;
    }
}
.logo-bot a:hover img{
    opacity: 0.1;
}
.logo-bot a:hover .logo-txt{
    display: block;
}
/*CONTACTO*/
#box{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.menu-general{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 20px;
}
.menu-general h1{
    width: 100%;
}
.menu-general a{
    color: black;
}
.nav-panel{
    display: flex;
    margin-right: 2%;
}
.nav-items{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20vh;
}
.nav-items ul{
    margin: 0;
    padding: 0;
}
.nav-items li{
    text-align: right;
    list-style: none;
    margin-top: 0.5em;
    margin-left: 0%;
}
.nav-items li:hover{
    font-size: 1.2em; 
}
.return{
    display: none;
}
@media only screen and (max-width: 767px){
    .menu-general{
        flex-direction: column;
    }
    .nav-panel{
        justify-content: flex-end;
    }
    .nav-items{
        display: none;
    }
    .return{
        display: block;
        justify-content: right;
        font-size: 4em;
        color: black;
    }
}
.cont-grid{
    display: grid;
    grid-template-columns: [x0] 20vh [x1] 20vh [x2] 20vh [x3];
    grid-template-rows: [y0] 20vh [y1] 20vh [y2] 20vh [y3];
    grid-gap: 10px;
}
.cont-grid .sq-img img{
    width: inherit;
}
.cont-title{
    background-color: black;
    grid-column: x2 / x3;
    grid-row: y0 / y1;
    position: relative;
}
.cont-title h1{
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 5px;
    text-align: right;
    text-decoration: none;
    font-size: 1.3em;
    color: white
}
@media only screen and (max-width: 767px){
    .cont-title h1{
        font-size: 0.9em;
    }
}
.cont-info, .cont-info-peq{
    text-align: justify;
    color: black;
    grid-column: x2 / x3;
    grid-row: y1 / y2;  
}
.cont-info-peq{
    display: none;
}
.cont-info p{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: small;
}
@media only screen and (max-width: 767px){
    .cont-info{
        display: none;
    }
    .cont-info-peq{
        display: block;
        font-size: small;
    }
}
.cont-grid .o{
    grid-column: x2 / x3;
    grid-row: y2 / y3;   
}
.logo-github{
    grid-column: x2 / x3;
    grid-row: y2 / y3;   
}
.corner img{
    height: 25vh;
}
.logo-github a{
    width: 20vh;
}
/*PROYECTOS*/
.proy1{
    grid-column: x0 / x1;
    grid-row: y0 / y2;   
}
.txt1{
    grid-column: x1 / x2;
    grid-row: y0 / y1;   
}
.proy2{
    grid-column: x2 / x3;
    grid-row: y1 / y2;   
}
.txt2{
    text-align: right;
    grid-column: x1 / x2;
    grid-row: y1 / y2;   
}
.proy3{
    grid-column: x1 / x3;
    grid-row: y2 / y3;   
}
.txt3{
    text-align: right;
    grid-column: x0 / x1;
    grid-row: y2 / y3;   
}
.content-panel h3{
    margin: 0;
}
.proy1 img, .proy2 img, .proy3 img{
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.9);
}
.proy1 a:hover img, .proy2 a:hover img, .proy3 a:hover img{
    filter:grayscale(0);
}
/*DISEÑOS*/
.dis1{
    grid-column: x0 / x1;
    grid-row: y0 / y1;   
}
.txt-d1{
    grid-column: x1 / x2;
    grid-row: y0 / y1;   
}
.dis2{
    grid-column: x1 / x2;
    grid-row: y1 / y2;   
}
.txt-d2{
    text-align: right;
    grid-column: x0 / x1;
    grid-row: y1 / y2;   
}
.dis3{
    grid-column: x0 / x1;
    grid-row: y2 / y3;   
}
.txt-d3{
    grid-column: x1 / x2;
    grid-row: y2 / y3;   
}
.content-panel h3{
    margin: 0;
}
.dis1 img, .dis2 img, .dis3 img{
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.9);
}
.dis1 a:hover img, .dis2 a:hover img, .dis3 a:hover img{
    filter:grayscale(0);
}
.txt-d1, .txt-d2, .txt-d3{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
.txt-d1 p, .txt-d2 p, .txt-d3 p{
    font-size: 0.8em;
}
/*ABOUT ME*/
.me1{
    grid-column: x0 / x1;
    grid-row: y1 / y2;   
}
.me1 img{
    height: 100%;
    object-fit: cover;
}
.me2{
    grid-column: x1 / x3;
    grid-row: y1 / y3;     
}
.me2 p{
    text-align: justify;
}
/*REFERENCES*/
.ref1{
    grid-column: x0 / x1;
    grid-row: y1 / y2;   
}
.ref2{
    grid-column: x1 / x2;
    grid-row: y1 / y2;   
}
.ref3{
    grid-column: x2 / x3;
    grid-row: y1 / y2;   
}
.simbol{
    font-size: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ref4{
    grid-column: x0 / x1;
    grid-row: y2 / y3;   
}
.ref4 img{
    height: 100%;
    object-fit: cover;
}
.ref5{
    grid-column: x1 / x3;
    grid-row: y2 / y3;   
}
.quote{
    display: flex;
    justify-content: right;
    align-items: center;
}
.quote blockquote{
    font-size: 2.8em;
    font-family: 'Sirin Stencil', cursive;
    margin: 0;
}
.quote p{
    font-size: 1em;
    text-align: right;
    margin: 0;

}