body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
header{
    margin-right: 20%;
    text-align: right;
}
footer{
    text-align: center;
}
footer a{
    color: #000000;
    text-decoration: none;
    font-size: 0.8em;
    
}
.container{
    width: 75vh;
    position: sticky;
    margin: 9vh auto;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
    grid-gap: 10px;
}
.sq-img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.p30{
    grid-column: x0 / x2;
    grid-row: y1 / y3;
}
.logo-bot{
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.logo-txt{
    display: none;
    position: absolute;
    top: 70%;
    left: 10%;
    z-index: 10;
    font-size: 1.5em;
    color: #000
}
.logo-bot a:hover img{
    opacity: 0.1;
}
.logo-bot a:hover .logo-txt{
    display: block;
}
/*CONTACTO*/
.menu-general{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: auto;
    border: 20px;
}
.menu-general h1{
    width: 100%;
}
.menu-general a{
    color: black;
}
.nav-panel{
    display: flex;
    margin-right: 2%;
}
.nav-items{
    display: flex;
    align-items: flex-end;
}
.nav-items ul{
    margin: 0;
    padding: 0;
}
.nav-items li{
    text-align: right;
    list-style: none;
    margin-top: 1em;
    margin-left: 0%;
}
.nav-items li:hover{
   font-size: 1.2em; 
}
.cont-grid{
    display: grid;
    grid-template-columns: [x0] 25vh [x1] 25vh [x2] 25vh [x3];
    grid-template-rows: [y0] 25vh [y1] 25vh [y2] 25vh [y3];
    grid-gap: 10px;
}
.cont-grid .sq-img img{
    width: inherit;
}
.cont-email{
    grid-column: x0 / x2;
    grid-row: y0 / y1;
    position: relative;
}
.cont-email a{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    text-decoration: none;
    font-size: 1.5em;
    color: black
}
.cont-info{
    text-align: justify;
    color: black;
    grid-column: x2 / x3;
    grid-row: y1 / y2;  
}
.cont-grid .o{
    grid-column: x2 / x3;
    grid-row: y2 / y3;   
}
.corner{
    grid-column: x2 / x3;
    grid-row: y0 / y1;   
}
.corner img{
    height: 25vh;
}
.logo-github a{
    width: 25vh;
}