body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
header{
    padding: 0% 5%;
    margin-top: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,65,86,1) 30%, rgba(255,255,255,0) 70%);
    display: flex;
    justify-content: space-between;
}
header img{
    width: 80px;
}
header nav{
    margin: auto 10px;
}
header nav ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
}
header nav li{
    padding: 10px;
    text-decoration: none;
}
header a{
    text-decoration: none;
    color: black;
}
footer{
    text-align: center;
}
footer a{
    color: #000000;
    text-decoration: none;
    font-size: 0.8em;
    
}
.container{
    width: 75vh;
    position: sticky;
    margin: 9vh auto;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
    grid-gap: 10px;
}
.sq-img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.p30{
    grid-column: x0 / x2;
    grid-row: y1 / y3;
}
.logo-bot .sq-img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .logo-bot .dq-txt {
    font-family: 'Open Sans';
    padding-top: 5px;
    display: block;
    text-align: center;
    width: 100%;
    transform: translate(0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    opacity: 0;
    transition: transfom opacity 1.5s;
  }
.logo-bot:hover .sq-img {
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}
.div-.logo-bot:hover .logo-txt{
    transform: translate(0px, -20px);
    opacity: 1;
}