body{
}
.container{
    width: 50vh;
    position: sticky;
    margin: 25vh auto;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
    grid-gap: 10px;
}
.sq-img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.p30{
    grid-column: x0 / x2;
    grid-row: y1 / y3;
}
.logo-bot a:hover{

}